{% extends 'base.html' %}
{% load static %}

{% block content %}
<header>
    <div class="slogan container container--90">
      <div class="slogan--item">
        <h1>
          Uzytkownik:
        </h1>  
        <h2>
        <p>Imie: {{current_user.first_name}} </p>
        <p>Nazwisko: {{current_user.last_name}} </p>
        <p>email: {{current_user.email}} </p>
        </h2>     
      </div>
    </div>
  </header>

  <section id="" class="">
    <div class="form-section">
      <h2>Twoja aktywnosc</h2>
      <p>Przekazanych wszystkich workow: {{sum_of_all_bags}}</p>
      {% for donation in donations %}
        {%if donation.pick_up_date > today%}
          <ul>
            <li>Wsparta organizacja: "{{donation.institution.name}}", liczba przekazanych workow: {{donation.quantity}}, w ktorych znajduja sie: {% for category in donation.categories.all %}{{category.name}}, {% endfor %}</li>
            <p>Przesylka bedzie nadana: {{donation.pick_up_date}} o godzinie {{donation.pick_up_time}}</p>
          </ul>
        {% else %}
          <ul>
          <li>Wsparta organizacja: "{{donation.institution.name}}", liczba przekazanych workow: {{donation.quantity}}, w ktorych znajduja sie: {% for category in donation.categories.all %}{{category.name}}, {% endfor %}</li>
          <p>Przesylka zostala nadana: {{donation.pick_up_date}} o godzinie {{donation.pick_up_time}}
          <button class="btn" type="button">Przesylka zabrana.</button> </p>
          </ul>
        {% endif %}
      {% endfor %}
    </div>
    
  </section>

{% endblock %}
